<!DOCTYPE html>
<html>

<head>

    <title>{% block title %} pywsi | {{ title | default("pywsi") }} {% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">


    <script src="/static/js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}

</head>


<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">PYWSI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                {% if title == "creator" %}
                    <a class="nav-link active" href="/creator">Pattern Creator</a>
                {% else %}
                    <a class="nav-link" href="/creator">Pattern Creator</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if title == "explorer" %}
                    <a class="nav-link active" href="/explorer">
                        Data Explorer
                        <span class="sr-only">(current)</span>
                    </a>
                {% else %}
                    <a class="nav-link" href="/explorer">Data Explorer</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if title == "uploader" %}
                    <a class="nav-link active" href="/uploader">File Uploader</a>
                {% else %}
                    <a class="nav-link" href="/uploader">File Uploader</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>

{% block body %}{% endblock %}

<script src="/static/js/main.js"></script>
{% block script %} {% endblock %}
</body>
</html>
