{% extends "common/base.html" %}

{% block head %}
    <script src="https://cdn.rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
{% endblock %}

{% block body %}
    <div class="container data-explorer" id="vis" data-config="{{ db_config }}"></div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
                var container_id = "vis";
                var config_as_string = document.getElementById(container_id).dataset.config;
                var config = JSON.parse(config_as_string);

                config.container_id = container_id;
                config.trust = "TRUST_CUSTOM_CA_SIGNED_CERTIFICATES";
                config.initial_cypher = "MATCH p=()-[:works_with]->() RETURN p";

                config.labels = {
                    "performer": {
                        caption: "name",
                        size: "pagerank",
                        community: "partition"
                    }
                };

                config.relationships = {
                    "works_with": {
                        caption: "case"
                        // caption: false,
                        // thickness: "count"
                    }
                };

                // noinspection JSPotentiallyInvalidConstructorUsage
                new NeoVis.default(config).render();
            }
        );
    </script>
{% endblock %}
